.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #F6F6F6;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-bottom: 40px;
}

.login-button {
  width: 200px;
  background-color: #07c160;
  color: #fff;
  border-radius: 8px;
}

