.public-club-list-page {
  min-height: 100vh;
  background-color: #F6F6F6;
  padding-bottom: 100rpx;
}

.page-header {
  background-color: #ffffff;
  padding: 30rpx 40rpx;
  border-bottom: 1rpx solid #e5e5e5;
}

.page-title {
  font-size: 36rpx;
  font-weight: 500;
  color: #333;
}

.page-body {
  padding: 20rpx 0;
}

.loading,
.empty {
  text-align: center;
  padding: 100rpx 40rpx;
  color: #999;
  font-size: 28rpx;
}

.clubs-section {
  background-color: #ffffff;
}

.club-list {
  padding: 0 40rpx;
}

.club-item {
  padding: 30rpx 0;
  cursor: pointer;
}

.club-content {
  display: flex;
  align-items: center;
}

.club-avatar-wrapper {
  position: relative;
  width: 100rpx;
  height: 100rpx;
  margin-right: 30rpx;
}

.club-avatar {
  width: 100rpx;
  height: 100rpx;
  border-radius: 10rpx;
}

.vip-icon {
  position: absolute;
  top: -10rpx;
  right: -10rpx;
  width: 40rpx;
  height: 40rpx;
}

.club-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.club-name {
  font-size: 32rpx;
  color: #333;
  margin-bottom: 10rpx;
}

.club-shortname {
  font-size: 26rpx;
  color: #999;
}

.locked-badge {
  margin-left: 20rpx;
}

.locked-text {
  font-size: 32rpx;
}

.club-divider {
  height: 1rpx;
  background-color: #e5e5e5;
  margin-top: 30rpx;
}
